.saasprime--post svg {
    width: 1em;
    height: 1em;
}

.saasprime--post img {
    object-fit: cover;
}

.saasprime--post {
    display: grid;
    row-gap: 30px;
    transition: all 0.3s;
}


/* Style One */
.saasprime--post.post-style-1 .wrapper {
    display: flex;
    gap: 20px;
}

.saasprime--post.post-style-1 .number {
    flex-basis: 30px;
}
.saasprime--post.post-style-1 .link-wrap {
    margin-left: auto;
}

.saasprime--post.post-style-1 .post-meta span {
    width: 20px;
    height: 1px;
    display: inline-block;
    background: #121212;
    margin: 0 5px;
    position: relative;
    top: -5px;
}

.saasprime--post.post-style-1 .link {
    min-width: 12px;
    display: inline-block;
    transition: all 0.3s;
    transform: translate(-20px, 20px);
    opacity: 0;
}

.saasprime--post.post-style-1 .item:hover .link {
    opacity: 1;
    transform: translate(0, 0);
}

@media (max-width: 1200px) {
    .saasprime--post.post-style-1 .link {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Style Two  */
.saasprime--post.post-style-2 .wrapper {
    display: flex;
}

.saasprime--post.post-style-2 .author-wrap {
    flex-basis: 300px;
}

.saasprime--post.post-style-2 .content {
    flex: 1;
}

.saasprime--post.post-style-2 .author {
    align-items: center;
    display: flex;
    gap: 10px;
}

.saasprime--post.post-style-2 .name {
    display: inline-block;
}

@media (max-width: 767px) {
    .saasprime--post.post-style-2 .wrapper {
        flex-wrap: wrap;
    }
}

/* Style Three */
.saasprime--post.post-style-3 .item {
    position: relative;
    overflow: hidden;
}

.saasprime--post.post-style-3 .thumb img {
    width: 100%;
}

.saasprime--post.post-style-3 .item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #12121222;
}

.saasprime--post.post-style-3 .wrapper * {
    color: white;
    fill: white;
}

.saasprime--post.post-style-3 .wrapper {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.saasprime--post.post-style-3 .item:hover .wrapper {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}


/* Style Four */
.saasprime--post.post-style-4 .item {
    gap: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
}

.saasprime--post.post-style-4 .wc-btn-group > *:nth-child(1) {
    justify-content: flex-start;
}

.saasprime--post.post-style-4 .wc-btn-group > *:nth-child(3) {
    justify-content: flex-end;
}

.saasprime--post.post-style-4 .post-meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

@media (max-width: 767px) {
    .saasprime--post.post-style-4 .item {
        grid-template-columns: 1fr;
    }
}


/* Style Five */
.saasprime--post.post-style-5 .post-meta span {
    width: 20px;
    height: 1px;
    display: inline-block;
    background: #121212;
    margin: 0 5px;
    position: relative;
    top: -5px;
}

.saasprime--post.post-style-5 .item {
    position: relative;
    overflow: hidden;
}

.saasprime--post.post-style-5 .wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    background: #fff;
}